body {

    background: rgb(243, 253, 226);
    margin: 0px;
    font-family: "Mountains of Christmas", serif;
    margin-bottom: 100px;
}

header {
    border-bottom: solid 2px rgb(0, 23, 31);
    padding: 30px;
    font-size: 35px;
    color: rgb(19, 33, 70);
    background: rgb(189 211 118);
    align-items: center;
    font-size: 25px;

}

.começo-logo {
    display: flex;
    align-items: center;
    gap: 15px;
}

.logoSite {
    height: 91px;
    width: auto;
}

.começo-logo h1 {
    font-family: "Mountains of Christmas", serif;
}

.vídeo {
    background: rgb(110, 156, 67);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
    border-bottom: solid 4px rgb(113, 106, 70);
}

.vídeo-texto {
    margin-right: 5%;
}

h1 {
    font-family: "Mountains of Christmas", serif;
    font-size: 40px;
    color: rgb(0, 126, 167);
}

p {
    font-size: 20px;
}

.categoria-videos {
    display: flex;
    overflow-y: auto;
    gap: 10px;
}

.categoria {
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 50px;
}

.categoria-videos img {
    opacity: 0.5;
    height: 200px;
}

.categoria-videos img:hover {
    opacity: 1.0;
    border: 3px solid rgb(113, 106, 70);
}

.categoria h2 {
    color: rgb(42, 122, 228);
}

.categoria7-imagens {
    display: flex;
    overflow-y: auto;
    gap: 10px;
}

.categoria7-imagens img {
    height: 200px;

}